*{
	margin: 0;
	padding: 0;
}
.header
{
	height: 100vh;
}
.navbar-style
{
	background-color: lightblue ;
	box-shadow: 0 5px 10px #efefef;
	text-transform: uppercase;
}
.logo
{
	height: 80px;
	padding: 2px 20px;
}
.icon-bar
{
	background: grey;
}
li a
{
	color: #333;
}
.navbar-toggler
{
	outline: none !important;
}
.navbar-nav
{
	font-weight: 600;
	text-align: left;
	float: right;
}
.big-text
{
	text-shadow: 3px 5px black;
	box-shadow: 0 5px 10px #efefef;
	text-transform: uppercase;
	text-align: center;
	font-size: 54px;
	margin: 10px 0;
	color: orange;
}
.desc
{
	text-align: center;
	font-size: 24px;
}

.footer 
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: black;
   text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}